<h1>きもちの本棚</h1>
<h3>新規投稿</h3>
<%= form_for @tweet do |f| %>
  <div class="field">
    <%= f.label :画像 %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :タイトル %>
    <%= f.text_field :body, :size => 140 %>
  </div>
  <div class="field">
    <%= f.label :あらすじ %>
    <%= f.text_field :arasuji, :size => "60×3" %>
  </div>
    <div class="field">
    <%= f.label :コメント  %>
    <%= f.text_area :comment, :size => "30x2" %>
  </div>
  <h5>ジャンル選択:</h5>
  <div class='form-group'>
    <%= f.collection_select :tag_ids, Tag.all, :id, :name, include_blank: "ジャンルを選択してください"  %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>
<%= link_to "投稿一覧に戻る", tweets_path %>