<h1>きもちの本棚</h1>
<h3>詳細</h3>
<div class="tweet">
  <p><%= @tweet.body %></p>
  <p><%= @tweet.arasuji %></p>
  <p><%= @tweet.comment %></p>
 <% if user_signed_in? %>
     <% if current_user.already_liked?(@tweet) %>
        <%= link_to tweet_like_path(id: @tweet.id, tweet_id: @tweet.id), data: { turbo_method: :delete } do %>
          <i class="fas fa-heart"></i><%= @tweet.likes.count %> 
         
        <% end %>
     <% else %>
        <%= link_to tweet_likes_path(id: @tweet.id, tweet_id: @tweet.id), data: { turbo_method: :post }  do %>
          <i class="far fa-heart"></i><%= @tweet.likes.count %>
         
        <% end %>
     <% end %>
 <% else %>
     <i class="far fa-heart"></i><%= @tweet.likes.count %> 
 <% @tweets.tags.each do |tag| %>
    <%= tag.name %>
 <% end %>

<% end %>
  <%= link_to "編集する", edit_tweet_path(@tweet.id) %>
  </div>

<h2>いいねしたユーザー</h2>
<% @tweet.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>
<%= link_to "投稿一覧に戻る", tweets_path %>
